{% extends 'base.html.twig' %}

{% block title %}SnowTricks{% endblock %}
{% block h1 %}Welcome to SnowTricks{% endblock %}
{% block slogan %}We are a snowboard fan community{% endblock %}

{% block body %}
    <section id="services" class="services">
        <div class="container">
            <div class="section-title" id="listTrickTitle" data-aos="fade-in" data-aos-delay="100">
                <h2>Tricks</h2>
            </div>
            <div class="row justify-content-center">
            </div>
            {% for trick in tricks %}
                {% if loop.first or (loop.index - 1) % 5 == 0 %}
                <div class="row justify-content-center">
                {% endif %}
                    <div class="col-md-6 col-lg-2 mb-5" id="trick{{ loop.index }}"}>
                        <div class="card" data-aos="fade-up">
                            <img class="card-img-top" src="http://via.placeholder.com/640x360" alt="Card image cap">
                            <div class="card-body">
                                <p>
                                    <a href="{{ path('trick', {'slug': trick.slug}) }}">{{ trick.name }}</a>
                                </p>
                                <p class="text-end">
                                    <a href="{{ path('trickUpdate', {'id': trick.id}) }}" class="text-dark"><i class="bi bi-pencil-fill"></i></a>
                                    <a href="{{ path('trickDelete', {'id': trick.id}) }}" class="text-dark ms-3 delete"><i class="bi bi-trash-fill"></i></a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% if loop.last or loop.index % 5 == 0 %}
                </div>
                {% endif %}
            {% else %}
            <div class="row">
                <div class="col-12 text-center">
                    <p>No Trick in database</p>
                </div>
            </div>
            {% endfor %}
            <div id="more">
            </div>
            <div id="moreData" data-url="/trick/loadMore/" data-index="15" data-step="15">
            <div class="row py-5">
                <div class="col-12 text-center">
                    <button class="btn btn-primary loadMoreButton" type="button">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        <span class="sr-only">Load more...</span>
                    </button>
                </div>
            </div>
            <div class="row justify-content-end">
                <div class="col-2">
                    <a href="#listTrickTitle" id="backToTopButton"
                    class="back-to-top d-none align-items-center justify-content-center">
                        <i class="bi bi-arrow-up-short"></i>
                    </a>
                </div>
            </div>

        </div>

    </section>
{% endblock %}

