{% extends 'base.html.twig' %}

{% block title %}{{ trick.name }}{% endblock %}
{% block h1 %}{{ trick.name }}{% endblock %}

{% block body %}
<div class="container">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="row justify-content-end">
            <div class="col-12 col-lg-2">
                <p class="text-end">
                    <a href="{{ path('trickUpdate', {'id': trick.id}) }}" class="text-dark"><i class="bi bi-pencil-fill"></i></a>
                    <a href="{{ path('trickDelete', {'id': trick.id}) }}" class="text-dark ms-3 delete"><i class="bi bi-trash-fill"></i></a>
                </p>
            </div>
        </div>
    {% endif %}
    <div class="row py-5  d-lg-none">
        <div class="col-12  text-center">
            <button class="btn btn-primary seeMediasButton" type="button">See medias</button>
        </div>
    </div>
    <div class="row py-5 d-none d-lg-flex medias">
        {% for image in trick.images %}
            <div class="col-12 col-lg-2">
                <img class="img-fluid w-100" src="{{ asset('build/images/' ~ image.filename) }}" alt="">
            </div>
        {% endfor %}
        {% for video in trick.videos %}
            <div class="col-12 col-lg-2">
                <iframe class="w-100" src="{{ video.url|replace({'watch?v=': '/embed/', 'video': '/embed/video', 'vimeo.com': 'player.vimeo.com/video'}) }}" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        {% endfor %}
    </div>
    <div class="row py-5">
        <div class="col-12" id="trickDescription">
            {{ trick.description }}
        </div>
    </div>
    <div class="row py-5">
        <div class="col-12">
            Group : {{ trick.category.name }}
        </div>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <hr>
        <div class="row py-5" id="CommentForm">
            <div class="col-12">
                <h2>Add a comment</h2>
                {% for message in app.flashes('notice') %}
                    <div class="text-success">
                        {{ message }}
                    </div>
                {% endfor %}
                {{ form_start(form) }}
                    <div class="text-danger">
                        {{ form_errors(form) }}
                    </div>
                    {{ form_row(form.content) }}
                    <input class="btn btn-primary" type="submit" value="Submit">
                {{ form_end(form) }}
            </div>
        </div>
    {% endif %}
    <hr>
    {% for comment in comments %}
        <div class="row py-5 align-items-center">
            <div class="col-4 col-lg-1">
                <img class="img-fluid w-100 rounded-circle" src="{{ comment.user.picture }}" alt="">
            </div>
            <div class="col-8 col-lg-11">
                <p class="comment-content">{{ comment.content }}</p>
                <p class="fst-italic small">
                    Le <span class="fw-bold">{{ comment.createdAt|date('d/m/Y') }}</span>
                    à <span class="fw-bold">{{ comment.createdAt|date('H:i') }}</span>
                    par <span class="fw-bold">{{ comment.user.username }}</span>
                </p>
            </div>
        </div>
    {% else %}
        <div class="row py-5">
            <div class="col-12">
                0 Comment
            </div>
        </div>
    {% endfor %}
        <div id="more">
        </div>
        <div id="moreData" data-url="/comment/loadMore/" data-id="{{ trick.id }}" data-index="5" data-step="5">
        <div class="row py-5">
            <div class="col-12 text-center">
                <button class="btn btn-primary loadMoreButton" type="button">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    <span class="sr-only">Load more...</span>
                </button>
            </div>
        </div>

    </div>
</div>
{% endblock %}